<div class="container">
    <h1>Weather Application</h1>

    <form>
        <div>
            <input type="text" name="country" id="countryName" class="inputField" placeholder="Enter a country name" [(ngModel)]="country">
        </div>
        <div>
            <input type="text" name="city" id="cityName" class="inputField" placeholder="Enter a city name" [(ngModel)]="city">
        </div>
        <button type="button" class="btn" (click)="getWeather()">Display Weather</button>
    </form>

    <div *ngIf="weatherData">
        <h2>The Current Weather In: {{weatherData.name}}</h2>
        <p>Temperature: {{weatherData.main.temp}} °C</p>
        <p>Humidity: {{weatherData.main.humidity}}</p>
        <p>Weather: {{weatherData.weather[0].description}}</p>
        <p>Location: {{weatherData.coord.lon}} and {{weatherData.coord.lat}}</p>
    </div>

    <!-- <div *ngif="location">
        <p>location: {{location.j}}</p>
    
    </div> -->
</div>
